# 1. Бинарные и исполняемые файлы (результаты go build)
*.exe
*.out
*.dll
*.so
# Если скомпилируешь программу под Linux, она будет без расширения.
# Можно вписать точное название бинарника, например:
monitor_app

# 2. Файлы конфигурации с секретами (КРИТИЧЕСКИ ВАЖНО!)
# Никогда не коммить токены от ботов и пароли в публичные репозитории
config.json

# 3. Базы данных
# Нам не нужно тащить локальную историю падений сайтов в гит
*.db
*.sqlite
*.sqlite3
Web.db

# 4. Настройки редакторов кода (JetBrains / RustRover / GoLand)
.idea/
*.iml

# 5. Специфичный мусор операционных систем
.DS_Store
Thumbs.db
